<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:red;
            font-size:50px;
            font-weight:800;
            border:20px blue groove;
            background:yellow;
            border-radius:45px;

        }
        h2{
            color:blue;
            text-transform:italic;
            font-size:30px;
            text-transform:capitalize;
            font-style:italic;
    

        }
       
    </style>
    
</head>
<body>
    <h1>Template is the second hero in django picture</h1>
    <h2>Hello, {{name}} : {{msg}}</h2>
    <h2>Current Server Date and Time : {{date}}</h2>

</body>
</html>